<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                    <label for="Flight Name">Flight Name</label>
                    <input type="text" class="form-control" name="flightName"[(ngModel)]="flightName">
        
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                    <label for="Origin">Origin</label>
                 <input type="text" class="form-control" name="origin"[(ngModel)]="origin">
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                     <label for="Capacity">Designation</label>
                     <input type="text" class="form-control" name="designation"[(ngModel)]="designation" >

                  </div>
                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                    <label for="Capacity">Capacity</label>
                    <input type="text" class="form-control" name="capacity"[(ngModel)]="capacity" >

                 </div>

                
                 <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12"><br>
            
                        
                       <button class="btn btn-success" (click)="readValues()">Submit</button>
            
                 </div>
        </div>
    </div>
</div>